# Python virtual environment
bin/
include/
lib/
pyvenv.cfg
share/
etc/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
